<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" type="text/css" href="/stylesheets/style1.css">
<title>LogIN</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript"
	src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript"
	src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css"
	href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

</head>
<body>
	
	<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
		<center>
			<h2>Video Library</h2>
		</center>
	  	<img src="/img/library.jpg" style='width:100%;height:100%;opacity:1.0;' alt='[]' />
	  	<!-- <div style="position: fixed; top: 100px; left: 850px; width: 370px; background-color: rgba(0,0,0,opacity option);">

			<form id="abc" action="/SetNewPassword" method="post">
				<label><font color="#FFFFFF">Email :</font></label> 
				<input type="text" name="Email" /><br/> 
				<label><br><br><font color="#FFFFFF"> New PassWord  :</font></label> <input type="password" name="Password" /> 
				<br/>
				<label><br><br><font color="#FFFFFF"> Confirm PassWord  :</font></label> <input type="password" name="CnfrmPassword" /> 
				<input type="submit" value="Change Password" />
				&nbsp;
			</form>
		</div> -->

		<div style="position: absolute; top: 100px; left: 850px; width: 370px; background-color: rgba(0,0,0,opacity option);">

			<form id="abc" action="/SignIn" method="post">
				<label><font color="BLACK">E-mail Address : </font></label> &nbsp; &nbsp; <input type="Email" name="Email" /> <br> <br>
				<label><font color="BLACK">New PassWord :</font></label> &nbsp; &nbsp;<input type="password" name="Password" />
				</br> <label><br></label><br><font color="BLACK"> Confirm PassWord  :</font></label> <input type="password" name="CnfrmPassword" /> 
					</br></br> 
				<!-- <input  type="submit" value="LogIn" /> -->
			
				<div class="w3-container">
  				
  			<input type="submit" class="w3-btn" value="Change Password"  style="margin-left:145px;" /> <font color="BLACK">
  
 
  			<!-- <div class="w3-container"> -->
 
  
  
  		

			
			
			</form>
		
		
		</div>
  	</div>
	
</body>
</html>