<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" type="text/css" href="/stylesheets/style1.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>SignUp</title>



</head>

<body>
	<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
  		<center>
		<h2>PROFLIX</h2>
	</center>
  		<img src="/img/library.jpg" style='width:100%;height:100%;opacity:1.0;' alt='[]' />
  	</div>
	
	<div id="signUp" style="position: absolute; top: 70px; left: 900px;">
		<form name="signUp" method="Post" action="/SignUpCheck" form
			autocomplete="off">
			<!-- <table border="0" width="300px"> -->
				<h3>Create An Account!</h3>
			<table class="table table-striped" width="300px" align="center" style="margin-top:-29px;"  >
				<tr>
					<td><label><font color="BLACK">First Name: </label></td>
					<td><input type="text" name="firstName" /></td>
				</tr>
				<tr>
					<td><label><font color="BLACK">Last Name:</label></td>
					<td><input type="text" name="lastName" /></td>
				</tr>
				<tr>
					<td><label><font color="BLACK">Address:</label></td>
					<td><input type="text" name="address" /></td>
				</tr>
			
				<tr>
					<td><label><font color="BLACK">City:</label></td>
					<td><input type="text" name="city" /></td>
				</tr>
				<tr>
					<td><label><font color="BLACK">State:</label></td>
					<td><input type="text" name="state" /></td>
				</tr>
				
				<tr>
					<td><label><font color="BLACK">ZipCode:</label></td>
					<td><input type="text" name="zipcode" /></td>
				</tr>
				
				<tr>
					<td><label><font color="BLACK">Email:</label></td>
					<td><input type="text" name="email" /></td>
				</tr>
				
				<tr>
					<td><label><font color="BLACK">UserName:</label></td>
					<td><input type="text" name="userName" /></td>
				</tr>
				<tr>
					<td><label><font color="BLACK">Password:</label></td>
					<td><input type="password" name="password" /></td>
				</tr>
				<tr>
					<td><label><font color="BLACK">Re-Type Password:</label></td>
					<td><input type="password" name="retypepassword" /></td>
				</tr>
			<br>&nbsp;
			<br>
			
  
				
				
			</table>
			<div class="w3-container" align="center" style="margin-left: 90px;">
						<input type="submit" class="w3-btn" value="SignUp"><font color="BLACK"> 
						<!-- <td><input type="submit" value="SignUp"></td> -->
						&nbsp;
						<input type="reset" class="w3-btn" value="Reset"><font color="BLACK">
						<!-- <td><input type="reset" value="Reset"></td> -->
			</div>
		</form>

	</div>

</body>
</html>