<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style1.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<link rel="stylesheet" href="stylesheets/AdminHome.css" type="text/css" media="all" /> 
<link rel="stylesheet" href="stylesheets/demo.css" type="text/css" media="all" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<link rel="stylesheet" href="stylesheets/Userhome.css" type="text/css" media="all" /> 

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<title>Payment</title>
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<!-- jQuery Form Validation code -->
  
  <script>
  
  $(function() {
  
  jQuery.validator.addMethod("isletterOnly", function(value) {
 
 		 var matchArr = value.match(/^[a-z]+$/);
	    if (matchArr == null) {
	        return false;
	    }
	    else {
	        return true;
	    }
	}, "Invalid username input - Enter Only characters");
	
	jQuery.validator.addMethod("isNumberOnly", function(value) {
 
 		 var matchArr = value.match(/^[0-9]+$/);
	    if (matchArr == null) {
	        return false;
	    }
	    else {
	        return true;
	    }
	}, "Invalid username input - Enter Only digits");
  
  
 $("#register-form").validate({
    
        // Specify the validation rules
        rules: {
        
        cardHolderName: {required:true, 
            minlength: 5,
            },
            
            cardNumber: {required:true, 
			minlength: 16,
			maxlength: 16,},
        
        	cvv:{
			required: true,
			minlength: 3,
			maxlength: 3,
			},
			
			},
			
			 messages: {
            cardHolderName:
            {
            required: "Please enter your card Holder Name",
            },
            
            cardNumber:{
            required: "Please enter your card Number",
            minlength: "Invalid Card number: Enter 16 digits",
            maxlength: "Invalid Card number: Enter 16 digits"
            },
            cvv:{
            required: "Please enter your CVV number",
            minlength: "Invalid CVV number",
            maxlength: "Invalid CVV number"
            }
            
             },
        
        submitHandler: function(form) {
            form.submit();
        }
    });

  });
            
            
</script>
 

</head>
<body>
	</br>
	<!-- <div id="logout">
		<form id="logout" method="post" action="/logout">
			<input type="image" src="/img/Logout.jpg" alt="Submit" value="Logout"
				width="100" height="25"
				style="position: fixed; top: 20px; left: 1101px;">
		</form></div>
		 <div align="left">
		 {{#if membertype}}
		<form id="home" method="get" action="/PremiumMemberHome">
			<input type="submit"  value="Premium Member Home"
				width="100" height="25"
				>
		</form>
		</div>
		
		{{else}}
		
		<form id="home" method="get" action="/Home">
			<input type="submit"  value="Simple Member Home"
				width="100" height="25"
				>
		</form>
		</div>
		
   <!--  <div id="logout">
    <form id="logout" method="post" action="/logout"> 
      <button type="button" class="btn btn-default btn-sm" value="Logout" style="position: relative; left: 1000px; top:10px;"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
    </form>
  </div> --> 

		<!--  <div id="home">
		<form id="home" method="get" action="/Home">			
			<input type="submit" class="btn btn-success logout" value="Home"
				width="20" height="15"
				style="position: relative; top: 35px; left: 100px;"></button>
		</form>
	</div>
		
	<div id="logout">
		<form id="logout" method="post" action="/logout">	
			<button type="image" src="/img/Logout.jpg" class="btn btn-success logout" value="Logout" width="100" height="15" style="position: relative; left: 1101px;"> Logout</button>
		</form>
	</div>
		{{/if}}

 -->
 <div id="shell">
  <div style="margin-left: -80px;" id="header">
    <h1 id="logo"><a href="http://localhost:3000/Home">Proflix</a></h1>
    <div class="social"> <span>FOLLOW US ON:</span>
      <ul>
        <li><a class="twitter" href="https://twitter.com/?lang=en">twitter</a></li>
        <li><a class="facebook" href="www.facebook.com">facebook</a></li>
        <li><a class="vimeo" href="https://vimeo.com/">vimeo</a></li>
        <li><a class="rss" href="https://www.rss.com/">rss</a></li>
      </ul>
    </div>

   <!--  <div id="logout">
    <form id="logout" method="post" action="/logout"> 
      <button type="button" class="btn btn-default btn-sm" value="Logout" style="position: relative; left: 1000px; top:10px;"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
    </form>
  </div> --> 

  <div id="logout">
    <form id="logout" method="post" action="/logout"> 
      <button type="image" src="/img/Logout.jpg" class="btn btn-link btn-lg" value="Logout" width="100" height="15" style="position: relative; left: 1000px ; margin-top: 1px;"> Logout</button>
    </form>
  </div>
    
   
    <div id="navigation">
      <ul>
        <li><a href="/Home">HOME</a></li>
        <li><a href="/EditPersonalInfo">EDIT PROFILE</a></li>
        <li><a class="active" href="/ViewCart">MY CART</a></li>
        <li><a href="/OrderHistory">ORDER HISTORY</a></li>
        <!-- <li><a href="/ReturnIssuedMovie">RETURN MOVIE</a></li> -->
        <li><a href="/upgradePay">UPGRADE!!</a></li>
      </ul>
    </div>

		  <!-- <div id="home">
		<form id="home" method="get" action="/Home">			
			<input type="submit" class="btn btn-link btn-lg" value="Home"
				width="20" height="15"
				style="position: relative; top: -100px; left: -150px;"></button>
		</form> -->
	</div>

</div>
		<center>
			<h2 style="color: white;">Payment</h2>
		</center>
		</center>

		</br>
		</br>
		<div style="color: white;">
			<p><center> Your processing is $300 </center></p>
		
				<form id="paypal"
				style="position: absolute; top: 102px; left: 1089px;">
				<a href="https://www.paypal.com/webapps/mpp/payflow-payment-gateway"><img
					title="Paypal" src="/img/Paypal.jpg" width="113" height="35"
					border="0" /></a>
			</form>
		</div>

		</br>
		</br>
		</br>
		<div align="center" position:absolute;
top: 166px;
left: 483px;>
			<form method="post" action="/upgradeToPremium" id="register-form" novalidate="novalidate" form
			autocomplete="off">
				<table style="color: white;">
					<tr>
						<a href="#"><img title="card_logo"
							src="http://www.free-credit-card-logos.com/mc_ms_vs_accpt_h_023_gif.gif"
							width="113" height="23" border="0" /></a>
						</br></br>
					</tr>
					<tr>
						<td><label>Name Of Card Holder : &nbsp;</label></td>
						<td><input type="text" name="cardHolderName" /></td>
					</tr> </br>
					<tr>
						<td><label>Card Number :</label></td>
						<td><input type="text" name="cardNumber"></td>
					</tr>
					<tr>
						<td><label>CVV :</label></td>
						<td><input type="text" name="cvv"></td>
					</tr>
					<tr>
						<td><label>Expiry Date :</label>
						<td><SELECT NAME="CCExpiresMonth">
								<OPTION VALUE="" SELECTED>--Month--
								<OPTION VALUE="01">January (01)
								<OPTION VALUE="02">February (02)
								<OPTION VALUE="03">March (03)
								<OPTION VALUE="04">April (04)
								<OPTION VALUE="05">May (05)
								<OPTION VALUE="06">June (06)
								<OPTION VALUE="07">July (07)
								<OPTION VALUE="08">August (08)
								<OPTION VALUE="09">September (09)
								<OPTION VALUE="10">October (10)
								<OPTION VALUE="11">November (11)
								<OPTION VALUE="12">December (12)
						</SELECT> / <SELECT NAME="CCExpiresYear">
								<OPTION VALUE="" SELECTED>--Year--
								
								<OPTION VALUE="17">2017
								<OPTION VALUE="14">2018
								<OPTION VALUE="15">2019
								<OPTION VALUE="16">2020
						</SELECT></td>
					</tr>



				</table>
				<center>
				<input class="btn btn-primary" type="submit" value="Submit" style="height: 50px;">
				</center>
			</form>




		</div>
		<div id="footer">
    <p class="lf">Copyright &copy; 2017 <a href="#">Proflix</a> - All Rights Reserved</p>
    
    <div style="clear:both; margin-bottom: 20px;"></div>
  </div>
</body>
</html>